.container {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 7);
  background-color: rgba(42, 81, 150, 1);
  /*position:fixed;*/
  width: 100vw;
  height: 80px;
}

.titre_bar {
  padding-top: 30px;
  padding-left: 40%;
  color: white;
}

li {
  list-style-type: none;
  padding-top: 10px;
}

/*header aside h5 {
  text-align: center;
  margin-top: 10px;
  font-weight:lighter;
}*/

.hamburger {
  width: 50px;
  height: 50px;
  padding: 15px;
 
  
}

.paddle {
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 15px;
  right: 0%;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Masquer le menu par défaut */
.menu {
  width: 300px;
  height: 100vh;
  background-color: rgba(42, 81, 150, 1);
  color: rgb(201, 217, 200);
  font-family: "Gill Sans";
  position: fixed;
  left: -300px;
  transition: all 1s;
}

.menu.active {
  left: 0px;
}

/* Afficher le menu lorsqu'il est ouvert */
/*.menu.open {
  display: block;
}
*/
.slide {
  text-align: center;
  height: 500px;

  
 
}

.slide img {
  height: 500px;
}

.slide .expirence {
  position: relative;
  bottom: 350px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  
  
}

article{
  
  margin-left:18%;
}

.upcoming {
  margin-left: 10px;
  margin-bottom: -35px;
  font-size: 60px;
  font-weight: bold;
} 

.upcoming hr{

  width: 50%;
  margin-left: 2px;
  margin-top: 5px;

}


.lieu {
  margin-left: 15px;
  padding-top: 0px;
}

.lieu h2 {
  color: #426138;
  font-weight: lighter;
  text-decoration: underline;
  padding-top: 10px;
  margin-bottom: 8px;
  margin-top:-12px
}

.lieu h3 {
  margin-bottom: 0px;
  margin-top:8px
}

article p {
  margin-top: 0px;
}

@media (max-width: 1200px) {
  * {
    margin: 0;
  }

  .bar {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 1);
    background-color: rgba(42, 81, 150, 1);
    /*position:fixed;*/
    width: 100vw;
    height: 85px;
  }

  li {
    list-style-type: none;
    padding-top: 10px;
  }

  /*header aside h5 {
  text-align: center;
  margin-top: 10px;
  font-weight:lighter;
}*/

  .hamburger {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .paddle {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Masquer le menu par défaut */
  .menu {
    width: 300px;
    height: 100vh;
    background-color: rgba(42, 81, 150, 1);
    color: rgb(201, 217, 200);
    font-family: "Gill Sans";
    position: fixed;
    left: -300px;
    transition: all 1s;
  }

  .menu.active {
    left: 0px;
  }

  /* Afficher le menu lorsqu'il est ouvert */
  /*.menu.open {
  display: block;
}
*/
  .principale {
    text-align: center;
    color: white;

    background-size: 100% auto;
  }

  .expirence {
    padding-top: 280px;
    font-size: 60px;
  }

  .upcoming {
    font-size: 80px;
    font-weight: bold;
    text-underline-offset: 2;
  }

  .lieu {
    margin-left: 10px;
  }

  .lieu h2 {
    color: #426138;
    font-weight: lighter;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .lieu h3 {
    padding-top: 12px;
  }
}

@media (max-width: 800px) {
  font-size: 100px;
}
